streamlit==1.38.0
easyocr==1.7.1
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.3.0
deep-translator==1.11.4
gTTS==2.5.3
PyPDF2==3.0.1
torch==2.3.1+cpu
torchvision==0.18.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

